<html ng-app="rosterApp">
  <head>
    <title>Roster!</title>
    <link rel="stylesheet" href="css/theme.css">
  </head>
  <body ng-controller="RosterCtrl">
    <table border="0" cellpadding="0" cellspacing="0" class="roster">
      <tr>
        <th ng-repeat="column in columns">{{ column.label }}</th>
      </tr>
      <tr>
        <td ng-repeat="column in columns">{{ column.value }}</td>
      </tr>
    </table>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="js/roster.js"></script>
  </body>
</html>
